body {
    font-family: 'Segoe UI', sans-serif;
}


.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1512389142860-9c449e58a543");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
}


.section-title {
    color: #b30000;
    font-weight: bold;
}


.footer {
    background-color: #2c2c2c;
    color: white;
    padding: 20px 0;
}


#gallery img {
    transition: transform 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.30);
}


@media (max-width: 768px) {
    .hero {
        height: 80vh;
    }
}

.kepek {
    height: 400px;          
    overflow: hidden;
}

.kepek img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#tovabbiekepek {
    color: red;
}

#tovabbiekepek:hover {
    color: green;
}

 
/*galery.html*/
.galery {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.galery img {
    width: 100%;
    height: 300px;   
    object-fit: cover;
    transition: transform 0.3s ease;
}

.galery img:hover {
    transform: scale(1.05);
}


.back-wrapper {
    margin: 40px;
}

.back-btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 18px;
    font-size: 25px;
    font-weight: 500;
    color: #111;
    text-decoration: none; 
    border: 3px solid #111;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.back-btn:hover {
    border: 2px solid #fff;
    color: #fff;
    transform: translateX(-4px);
}


